.date__container {
    position: relative;
}

.date__container h2 {
    font-size: clamp(3rem, 7.5vw, 6rem);
}

.date__container .day-name h2 {
    transform: rotate(270deg) translateX(15%);
}


.date__container .castle {
    left: 50%;
    bottom: 0;
    width: 100vw;
    min-width: 800px;
    opacity: 0.15;
    position: absolute;
    transform: translateX(-50%);
}

.date__container .roses-chain {
    position: absolute;
    bottom: 0;
    left: -5vw;
    width: calc(100% + 10vw);
    transform: translateY(50%);
}

.date__container .date-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.date__container .month {
    transform: translateX(-30%);
}

.date__container .year h1 {
    width: fit-content;
    font-size: 6rem;
    text-align: center;
    font-family: 'Great Vibes';
    color: var(--midnight-blue);
    transform: translateY(-30%);
}

.date__container .month-name {
    margin: 0;
    font-size: clamp(3rem, 6vw, 4rem);
    font-family: 'Great Vibes';
    color: var(--midnight-blue);
}

.date__container .day {
    font-size: clamp(5rem, 9vw, 7rem);

    margin: 0;
    transform: translateY(-15%);
}
.date-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.extra-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0;
    padding-bottom: 60px;
}

.pool-details, .mailbox-details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease;
}
.details-container{
    display: flex;
    margin: 0;
}
.extra-item .title{
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}
.pool-details:hover, .mailbox-details:hover {
    transform: scale(1.05);
}

.detail-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #5D4037;
    font-weight: 500;
}


@media (max-width: 768px) {
    .date__container .castle {
        width: 150vw;
    }

    .date-container .year h1 {
        width: 100%;
    }

    .date-container .month {
        transform: translate(-30%, -7%);
    }
}
