.date__container {
    position: relative;
}

.date__container h2 {
    font-size: 6rem ;
}

.date__container .day-name h2 {
    transform: rotate(270deg) translateX(-25%);
}

.date__container .castle {
    left: -10vw;
    width: 100vw;
    opacity: 0.15;
    position: absolute;
    transform: translateY(-50%);
}

.date__container .date-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.date__container .month {
    min-width: 10rem;
    transform: translateX(-50%);
}

.date__container .year h1 {
    width: 35%;
    font-size: 6rem;
    text-align: center;
    font-family: 'Great Vibes';
    color: var(--midnight-blue);
    transform: translateY(-30%);
}

.date__container .month-name {
    margin: 0;
    font-size: 4rem;
    font-family: 'Great Vibes';
    color: var(--midnight-blue);
}

.date__container .day {
    font-size: 7rem;
    margin-bottom: 0;
    transform: translateY(-15%);
}